.back-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-decoration: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    border-radius: 10px;
    background: $second-bg;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    transition: all .5s;

    &:hover {
        transform: scale(1.1);
    }
}

.feature-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-decoration: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    border-radius: 10px;
    background: $btn-bg;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    transition: all .5s;
    animation: all 2s;
    svg {
        pointer-events: none;
    }

    &:hover {
        background: $hover-btn-color;

        svg {
            transition: all .5s;
            transform: scale(.90);
        }
    }

    &_active {
        background: $accent;
    }
}

.add-cart__btn {
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    background: $btn-bg;

    svg {
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;

        rect {
            transition: all .5s;
        }
    }

    &:hover {
        background: $hover-btn-color;

        svg {
            transition: all .5s;
            transform: scale(.90);

            rect {
                fill: $hover-btn-color;
            }
        }
    }

    &_active {
        background: $accent;

        svg {
            rect {
                fill: $accent;
            }
        }
    }
}

.product__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $accent;
    color: $second-bg;
    padding: 10px 15px;
    border-radius: 10px;
    width: 60%;
    transition: all .5s;
    margin-right: 10px;
    
    div {
        height: 3rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        
        span {
            text-align: left;
            font-size: 16px;
            line-height: 100%;
        }
        .product__button-price {
            font-size: 18px;
        }
    }

    &:hover {
        background: $hover-btn-color;
    }
}

.counter-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: $btn-bg;

    &:hover {
        background: $hover-btn-color;

        svg {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .5s;
            transform: scale(.95);

            rect {
                transition: all .5s;
                fill: $hover-btn-color;
            }
        }
    }
}

.product__radio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    input[type="radio"] {
        display: none;
        
    }
    
    input[type="radio"] + label {
        display: inline-block;
        height: 32px;
        border-radius: 10px;
        padding-inline: 10px;
        line-height: 32px;
        transition: all .5s;
    }

    input[type="radio"] + label:hover {
        background: $hover-btn-color;
        border-radius: 10px;
        color: #fff;
    }

    /* Стили для активных радио-кнопок */
    input[type="radio"]:checked + label {
        background-color: $accent;
        color: #fff;
        border-color: $accent;
    }
}


.cart-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $second-bg;
    background: $accent;
    border-radius: 10px;
    padding: 15px;
    
    div {
        pointer-events: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        p {
            margin: 0;
            margin-bottom: 10px;
            line-height: 100%;
            font-size: 16px;
        }
        span {
            line-height: 100%;
            &::after {
                content: ' ₽';
            }
        }
    }

    svg {
        pointer-events: none;
    }
}