.back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-decoration: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    border-radius: 10px;
    background: $second-bg;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
}

.feature-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-decoration: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    border-radius: 10px;
    background: $card-bg;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    transition: all .5s;
    svg {
        pointer-events: none;
    }
}

.feature-btn_active {
    background: $accent;
}

input[type="radio"] + label {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Стили для активных радио-кнопок */
input[type="radio"]:checked + label {
    background-color: $accent;
    color: #fff;
    border-color: $accent;
}

.cart-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $second-bg;
    background: $accent;
    border-radius: 10px;
    padding: 15px;
    
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        p {
            margin: 0;
            margin-bottom: 10px;
            line-height: 100%;
            font-size: 16px;
        }
        span {
            line-height: 100%;
            &::after {
                content: ' ₽';
            }
        }
    }
}