.card {
    cursor: pointer;
    width: 11rem;
    min-height: fit-content;
    max-height: max-content;
    padding: 10px;
    background: $second-bg;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 140px auto 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.card__top {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 100%;
    img {
        justify-self: center;
        align-self: center;
        max-width: 100%;
        max-height: 100%;
    }
    button {
        pointer-events: all;
        margin-left: 5px;
        align-self: flex-start;
        
    }
}
.card__middle {
    justify-self: flex-start;
    margin: 5px 0 0;
    .card__name {
        font-size: 1rem;
        margin: 0;
    }

    .card__desc {
        color: $grey-text;
        font-size: .8rem;
    }
}



.card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .card__price {
        font-weight: 500;
    }
}

@media (max-width: 768px) {
   
}

@media (max-width: 480px) {
   
    .card {
        width: calc(50% - 5px);
        box-sizing: border-box;
        grid-template-rows: 100px auto 32px;
        
        .card__middle {

        
            .card__name {

                font-size: .9rem;
                
            }
        
            .card__desc {
                font-size: .7rem;
            }
        }

        .card__bottom {

            .card__price {
                font-size: .8rem;
            }
            .add-cart__btn {
                
        
                svg {
                    
                }
            }
        }
    }
    
}