@import '../variables';



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 0;
    
    .logo {
        display: flex;
        align-items: center;
        img {
            width: 2.5rem;
            margin-right: .3rem;
        }
        span {
            font-family: Antonio;
            font-size: 2.4rem;
            line-height: 100%;
        }
    }

    .tagline {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            font-weight: 700;
            font-size: .9rem;
        }
    }
    
    .work-time {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
    }

    .navbar {
        display: flex;

        .navbar__item {
            text-decoration: none;
            padding: 6px 10px;
            svg {
                pointer-events: none;
            }
            span {
                display: none;
            }
        }

        .navbar__item.nav-active {
            background: $accent;
            display: flex;
            align-items: center;
            border-radius: 10px;
            svg {
                path {
                    fill: $second-bg;
                    stroke: $second-bg;
                }
            }
            span {
                display: block;
                color: $second-bg;
                margin-left: 5px;
            }

        }
        
        
        
    }
}

@media (max-width: 768px) {
    header {
        .logo {
            span {
                font-size: 24px;
            }
        }

        .tagline {
            display: none;
        }

        .work-time {
            span {
                font-size: 12px;
            }
        }
    }
    
}
@media (max-width: 480px) {
    header {

        .logo {
            
            span {
                display: none;
                
            }
        }

        .work-time {
            span {
                font-size: 12px;
            }
        }

        .navbar {
            .navbar__item {
                span {
                    display: none !important;
                }
            }
        }
    }
    
}