.notification {
    position: fixed;
    z-index: 10;
    top: 65px;
    right: -255px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ff4848;
    padding: 20px 10px 20px 20px;
    background: #ff4848;
    max-width: 250px;
    max-height: fit-content;
    display: flex;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    
    p {
        color: $second-bg;
        font-size: 14px;
        margin: 0 0 0 10px;
    }

    img {
        width: 32px;
        height: 32px;
    }

}

.notification_show {
    transform: translateX(-305px);
    opacity: 1;
}