@import 'normalize.css';
@import 'fonts.scss';

@import 'variables.scss';
@import 'blocks/header.scss';
@import 'blocks/sliders.scss';
@import 'blocks/category.scss';
@import 'blocks/footer.scss';
@import 'blocks/popular.scss';
@import 'blocks/card.scss';
@import 'blocks/product-modal.scss';
@import 'blocks/btns.scss';


html {
    position: relative;
    font-family: Roboto;
    font-size: 16px;
    color: $dark-text;
    background: $main-bg;
    height: 100%;
    
}
a {
    text-decoration: none;
    color: $dark-text;
}
button {
    border: none;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.logo {
    font-family: Antonio;
}

.title {
    font-size: 48px;
    font-weight: 700;
}
.subtitle {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.hide {
    display: none;
    
}
.overflow-hidden {
    overflow: hidden;
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
    
}

.menu__wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.favorite, .cart, .menu {
    flex: 1;
}